!!! 5
html

    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        meta(name='robots', content='noindex,follow')
        title MONEY Centralized Database
        link(rel='shortcut icon', type='image/x-icon', href='data:image/gif;base64,R0lGODlhEAAQAKEBADx+nvRbPfRbPfRbPSH5BAEKAAIALAAAAAAQABAAAAIjlI+py60Bo3ws0GWdkdkADCHAiIkjqQnfsopMe5zymdZ2WgAAOw==')
        style html{font:100%/1.4 sans-serif}body{margin:0;padding:1em}table{border-collapse:collapse}th,td{padding:0.25em 0.5em;border:1px solid #fff}td{background:#f0f0f0}th{background:#000;color:#fff;text-align:left}.success{position:relative;min-height:9em;padding-left:7.9em}.success::before{content:"\263A";position:absolute;left:-.15em;top:-.45em;font-size:9em}

    body
        block content